@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jazz';
  src: url(./public/fonts/Trinstam.ttf) format("truetype");
}

body {
  font-family: "Lato"
}

.title {
  font-family: 'Jazz';
}

.img-container {
  background-image: url('./public/flower.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

