@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato"
}

.img-container {
  width: 600px;
  height: 600px;
  background-image: url('./public/flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
