@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jazz';
  src: url(./public/fonts/Trinstam.ttf) format("truetype");
}

body {
  font-family: "Lato";
  color: white;
}

.hero {
  background-image: url(./public/hero.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: contain;
}

.title {
  font-family: 'Jazz';
}

